# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local env files
.env*.local
.env

/Divers
/Connie
/Models

# Sofane
*.docx
*.tmp
*.log
*.txt
/public/files
/public/images
